.container {
	display: flex;
	border: 5px solid #ffcc5c;
	/* Add flex direction */
	flex-direction: row;
	justify-content: flex-start;
}

.home {
	flex: 1 1 200px;
}

.logout {
	flex: 10 1 200px;
}